html {
    scroll-behavior: smooth;
    background-color: #6d92c7;
   

}

/* NAVBAR */ 
.nav-logo {
    color: #00ff00;
    background-color: white;
}

.navbar-menu{
    background-color: whitesmoke;
}

.navbar-brand{
    background-color: whitesmoke;
}

.navbar{
    color: black
}

.top-padder {
    height: 5rem;
}

/* NUTRITION */
.nutrition {
    visibility: hidden;
}

.fiber {
    visibility: hidden;
}

.iron {
    visibility: hidden;
}

.calcium {
    visibility: hidden;
}

.potassium {
    visibility: hidden;
}

.vitaminA {
    visibility: hidden;
}

.vitaminC {
    visibility: hidden;
}

.vitaminD {
    visibility: hidden;
}

.nBlocks {
    border: 5px solid;
    border-radius: 4px;
    padding-top: 2rem;
    padding-bottom: 2rem; 
    background-color: whitesmoke;
}