html {
    scroll-behavior: smooth;
}

/* NAVBAR */ 
.nav-logo {
    color: lime;
}

.top-padder {
    height: 3rem;
}

/* NUTRITION */
.nutrition {
    visibility: hidden;
}

#fiberSection {
    visibility: hidden;
}

#ironSection {
    visibility: hidden;
}

