html {
    scroll-behavior: smooth;
}

/* NAVBAR */ 
.nav-logo {
    color: lime;
}

.top-padder {
    height: 3rem;
}

/* NUTRITION */
.nutrition {
    visibility: hidden;
}

.fiber {
    visibility: hidden;
}

.iron {
    visibility: hidden;
}

.calcium {
    visibility: hidden;
}

.potassium {
    visibility: hidden;
}

.vitaminA {
    visibility: hidden;
}

.vitaminC {
    visibility: hidden;
}

.vitaminD {
    visibility: hidden;
}

.nBlocks {
    border: 1px solid;
    border-radius: 4px;
    padding-top: 2rem;
    padding-bottom: 2rem; 
}